{% extends 'mainPage/basePageNobottom.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'skyLake/Style.css'%}">   
        <meta charset="UTF-8">
        <title> boardCreate </title>
    </head>

    <body>
        <h2 class="boardName"> 천마지 </h2>
        <h4 class="boardName"> 사랑을 속삭이는 정원 천마지입니다. </h4>
        <form method="POST">
            <table>
                {% csrf_token %}
                {% for field in form %}
                <tr>
                    {{ form.media }}
                    <td>{{ field.label_tag }}</td>
                    <td> {{ field }} </td>
                </tr>
                {% endfor %}
            </table>
            <input class="fixed submit" type="Submit" value="Submit">
        </form>
    </body>

<html>
{% endblock %}