{% extends 'mainPage/basePage.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'lostAndFound/style.css' %}">
        <title>LOST & FOUND</title>
        <link rel="icon" href="{% static 'images/title_icon.jpg' %}">
    </head>


    <body>
        <div class="lostAndFoundName">
            <h2><a href="{% url 'lostAndFound:list' %}">LOST & FOUND</a></h2>
            <h4>한우리 분실물 게시판입니다.</h4>
        </div>

        <table id=lostAndFoundCategoryTable>
            <tbody>
                <tr>
                    <td class=tdCategory>
                        <span class=category>전체</span>
                        <span class=category>LOST</span>
                        <span class=category>FOUND</span>
                    </td>
                </tr>
                <tr>
                        <td class=tdCategory>
                            <span class=category>학생증</span>
                            <span class=category>전자기기</span>
                            <span class=category>돈/지갑/카드</span>
                            <span class=category>기타</span>
                        </td>
                </tr>
            </tbody>
        </table>


        <!-- -----------게시물 리스트----------- -->
        {% if post_list %}
        <table id="lostAndFoundMainTable">
            <thead>
                <tr>
                    <th class="num">#</th>
                    <th>분류</th>
                    <th class="title">제목</th>
                    <th class="thumbnail">썸네일</th>
                    <th class="writer">글쓴이</th>
                    <th class="hit">조회수</th>
                    <th class="saveDate">날짜</th>
                </tr>
            </thead>
            {% for post in post_list%}
            <tbody>
                <tr>
                    <td>{{post.pk}}</th>
                    <td>{{post.itemType}}</td>
                    <td>
                        <div class="content">
                            <div class="status"><b>{{post.status}}</b></div>
                            <div><a href="{% url 'lostAndFound:detail' post.pk %}">{{post.title}}</a></div>
                        </div>
                    </td>
                    <!-- itemType (물건카테고리)에 따른 다른 썸네일 로드 -->
                    {% if post.itemType == 'idcard' %}
                    <td><img src="{% static 'images/idcard.jpg' %}" class="thumbnail"></td>
                    {% elif post.itemType == 'electronic' %}
                    <td><img src="{% static 'images/electronic.jpg' %}" class="thumbnail"></td>
                    {% elif post.itemType == 'cash' %}
                    <td><img src="{% static 'images/cash.jpg' %}" class="thumbnail"></td>
                    {% else %}
                    <td><img src="{% static 'images/etc.jpg' %}" class="thumbnail"></td>
                    {% endif %}
                    <!-- itemType (물건카테고리)에 따른 다른 썸네일 로드 -->
                    {% for PostRelation in post.post_relation.all %}
                    <td>{{PostRelation.user.name}}</td>
                    {% endfor %}
                    <td>{{post.hitCount}}</td>
                    <td>{{post.pubDate}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <h3>아직 게시물이 없습니다. 첫번째 게시물의 주인공이 되어주세요! </h3>
        {% endif %}

        <button id = lostAndFoundCreateButton><a href="{% url 'lostAndFound:create' %}">글쓰기</a></button>


    </body>
</html>
{% endblock %}





    <!--
        <td align="left" class="" style="font-size:14px;word-break:break-all;padding:8px 0 7px 9px;"><span style="padding-right:6px"><i class="material-icons gray" style="font-size:18px;padding:2px;margin-bottom:2px;"></i></span> 
			<a href="view.php?id=gofun&amp;page=1&amp;sn1=&amp;divpage=34&amp;sn=off&amp;ss=on&amp;sc=on&amp;select_arrange=headnum&amp;desc=asc&amp;no=97443">[웃음/감동/연재 공지사항 모음]</a></td>
    
    
    
    
    -->

