
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'lostAndFound/style.css' %}">
        <title>LOST & FOUND</title>
        <link rel="icon" href="{% static 'images/title_icon.jpg' %}">
    </head>


    <body>
        <div class="lostAndFoundName">
            <h2><a href="{% url 'lostAndFound:list' %}">LOST & FOUND</a></h2>
            <h4>한우리 분실물 게시판입니다.</h4>
        </div>

    <p> 제목 : 오늘 용교수님 컴구 </p>
    <p class="contents"> 컴구 오늘 수업있나여? </p>

    <textarea name="comment", cols="80", rows="1" placeholder="연락처수정"></textarea><br>
    <textarea name="comment", cols="80", rows="30" placeholder="수정하기"></textarea><br>
    <button><a href="{% url 'lostAndFound:detail' %}">수정완료</a></button>
    </body>
</html>