{% block content %}
<html>
<head>
  <title>myReport</title>
  {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'mypage/style.css' %}">

</head>
<body>

<h2>마이페이지</h2>
<h4>각종 설정들을 확인 및 수정하세요</h4>

<table class="t01">
  <tr>
    <td><a href="{% url 'mypage:myPost' %}">내가 쓴 글</a></td>
    <td><a href="{% url 'mypage:myComment' %}">내가 쓴 댓글</a></td>
    <th><a href="{% url 'mypage:myReport' %}">신고 내역</a></th>
    <td><a href="{% url 'mypage:myData' %}">나의 정보</td>
  </tr>
</table>

<table class="main">
  <tr class="t02">
    <th>번호</th>
    <th>상태</th>
    <th>제목 / 댓글 내용</th> 
    <th>글쓴이</th>
    <th>날짜</th>
  </tr>
  <tr>
    <td>3</td>
    <td>미확인</td>
    <td>하...</td>
    <td>보라돌이</td>
    <td>03/11</td>
  </tr>
  <tr>
    <td>2</td>
    <td>확인중</td>
    <td>카페카페</td>
    <td>뚜비</td>
    <td>03/10</td> 
  </tr>
  <tr>
    <td>1</td>
    <td>확인완료</td>
    <td><a href="{% url 'mypage:myReportPopup' %}">껌</a></td>
    <td>나나</td>
    <td>03/09</td>
  </tr>

</table>
<br>

</body>
</html>
{% endblock %}
