<!DOCTYPE html>
<html>
<head>
  <title>한우리 - 한동, 우리들 이야기</title>
  <style>

    table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }

    table{
        margin : 10px;
    }

    tbody{
        margin : 20px;
    }
    #Good {
        width : 110%;
    }

  </style>
</head>
<body>
    <a href='Market_Main.html'><img src="hanul.png" border="0" height="72" style="padding-top:12px;padding-left:2px;"></a>
    <input type="search" name="tagkeyword" id="query" autocomplete="off" maxlength="255" style="-webkit-appearance:none;font-size:12px;border:2px solid #86f3ff;background-repeat:no-repeat;  padding:8px;width:180px; color:#666;" onclick="this.value=''" value="" placeholder="검색창">
    <a href='Market_Main.html'><input type="submit" class="lod" name="sa" value="검색" style="cursor:pointer;font-size:12px;color:#fff;background-color:#86f3ff;padding:10px 12px;border:0; " align="absmiddle"></a>

    <h1>한동 장터</h1>
    <div>남송리 3번지, 한동 장터 게시판입니다.</div><br>
        <table>
            <thead>
                <tr>
                    <td><a href=''>전체()</a></td><td><a href=''>옷()</a></td><td><a href=''>책()</a></td><td><a href=''>생활용품()</a></td><td><a href=''>구인구직()</a></td>
                </tr>
            </thead>


        </table>
        <table>
            <tbody>
                    <tr>
                        <td><a href=''>전체</a></td><td><a href=''>팝니다</a></td><td><a href=''>삽니다</a>
                    </tr>
            </tbody>
        </table>
        <table id="Goods">
            <thead>
                <tr>
                    <td>번호</td><td>사진</td><td>분류</td><td>카테고리</td><td>제목</td><td>글쓴이</td><td>조회수</td><td>날짜</td>
                </tr>
                <tr>
                    <td>1</td><td><img src="hanul.png" height="50"></td><td>삽니다</td><td>책</td><td><a href="Market_Read.html">제목입니다[]</a></td><td>박수현</td><td>2019</td><td>19.01.14</td>
                </tr>
                <tr>
                    <td>2</td><td><img src="hanul.png" height="50"></td><td>팝니다</td><td>옷</td><td>제목입니다[]</td><td>킹갓제너럴충무공승윤</td><td>2019</td><td>19.01.14</td>
                </tr>
                <tr>
                    <td>3</td><td><img src="hanul.png" height="50"></td><td>갑시다</td><td>남자이야기</td><td>제목입니다[]</td><td>남즈아 이혁인</td><td>2019</td><td>19.01.14</td>
                </tr>
            </thead>
        </table>


        <a href="Market_Creation.html"><button type="button">생성하기</button></a>

    
</body>
</html>
