{% extends 'mainPage/basePage.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bamboo/Style.css'%}">   
        <meta charset="UTF-8">
        <title> boardCreate </title>
    </head>

    <body>
        <h2 class="boardName"> 대나무숲 </h2>
        <h4 class="boardName"> 100% 익명보장, 익명게시판입니다. </h4>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.media }}
                {{ form.as_table }}
            </table>
            <input class="fixed submit" type="Submit" value="Submit">
        </form>
    </body>

<html>
{% endblock %}