{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainPage/style.css' %}">
<html>
    <head>
        <title>한우리-우리들의 이야기</title>
    </head>
    <body>
        <img src="{% static 'mainPage/images/HUS_Logo_1.png' %}" class="Logo" id="top"/>
        <div class="search">
            <input type="text" value="검색창">
            <button>검색버튼</button>
        </div>
        <section class="topMenu">
        <table>
                <tr>
                    <!-- {% for index in range %}
                    <th>
                        {{ index }}. 대게시판 제목
                    </th>
                    {% endfor %} -->
                    <th>커뮤니티</th>
                    <th>한동장터</th>
                    <th>한동라이프</th>
                    <th>한동정보</th>
                </tr>
                <tr>   
                    <!-- {% for index in range %} 
                    <td>
                        <ul>
                            {% for index in range %} 
                            <li>소게시판 제목</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% endfor %} -->
                    <td>
                        <ul>
                        <li><a href="{% url 'boards:list' %}">감자밭</a></li>
                        <li>천마지</li>
                        <li>대나무숲</li>
                        <li>활주로</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li>전체</li>
                        <li>#top 1</li>
                        <li>#top 2</li>
                        <li>#top 3</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li><a href="{% url 'lostAndFound:list' %}">LOST & FOUND</a></li>
                        <li>부동산</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li><a href="http://seal.handong.edu/">SEAL</a></li>
                        <li><a href="http://itaxi.handong.edu/">아이택시</a></li>
                        <li><a href="http://stu.handong.edu/">총학생회</a></li>
                        <li><a href="http://www.dongari.or.kr/handongdae/file/">총동연회</a></li>
                        </ul>
                    </td>
                </tr>
        </table>
        </section>
        <aside class="sideMenu">
            <!-- <ul>
                {% for index in range %}
                <li>대게시판</li>
                <ul>
                    {% for index in range %}
                    <li>소게시판</li>
                    {% endfor%}
                </ul>
                {% endfor %}
            </ul> -->
            <ul>
            <li>커뮤니티</li>
            <ul>
                <li><a href="{% url 'boards:list' %}">감자밭</a></li>
                <li>천마지</li>
                <li>대나무숲</li>
                <li>활주로</li>
            </ul>
            <li>한동장터</li>
            <ul>
                <li>전체</li>
                <li>#top 1</li>
                <li>#top 2</li>
                <li>#top 3</li>
            </ul>
            <li>한동라이프</li>
            <ul>
                <li><a href="{% url 'lostAndFound:list' %}">LOST & FOUND</a></li>
                <li>부동산</li>
            </ul>
            <li>한동정보</li>
            <ul>
                <li><a href="http://seal.handong.edu/">SEAL</a></li>
                <li><a href="http://itaxi.handong.edu/">아이택시</a></li>
                <li><a href="http://stu.handong.edu/">총학생회</a></li>
                <li><a href="http://www.dongari.or.kr/handongdae/file/">총동연회</a></li>
            </ul>
            </ul>
        <div class="sideMenuBottomIcons">
        <a href="#bottom"><img src="{% static 'mainPage/images/down.png'%}" class="img"/></a>
        <a href="#top"><img src="{% static 'mainPage/images/up.png'%}" class="img"/></a>
        <a href="{% url 'mainPage:mainPage' %}"><img src="{% static 'mainPage/images/home.png'%}" class="img"/></a>
        </div>
        </aside>
        <section class="mainContent">
        {% block content %}
        {% endblock %}
        </section>
        <footer class="footer">
        <div class="centerBox">
            <h3>&lt;&lt;</h3>
            <h3>&lt;</h3>
            {% for index in ten %}
            <h3 style="display:inline-block"><a href="#">{{ index }}  </a></h3>
            {% endfor%}
            <h3>&gt;&gt;</h3>
            <h3>&gt;</h3>
        </div>
        <div id="bottom" class="centerBox">
            <form action="#">
                    <select name="filter">
                        <option value="noFilter">선택안함</option>
                        <option value="title">제목</option>
                        <option value="weiter">글쓴이</option>
                        <option value="titleNContent">제목+내용</option>
                    </select>
                    <input type="text">
                    <button>검색</button>
            </form>
        </div>
        </footer>
    </body>
</html>