{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainPage/style.css' %}">
<html>
    <head>
        <title>
            한우리-한동 우리들의 이야기
        </title>
    </head>
    <body>
        <a href="{% url 'mainPage:mainPage' %}"><img src="{% static 'mainPage/images/HUS_Logo_1.png' %}" class="Logo"/></a>
        <div class="search">
            <input type="text" value="검색창">
            <button>검색버튼</button>
        </div>
        <table>
                <tr>
                    <!-- {% for index in range %}
                    <th>
                        {{ index }}. 대게시판 제목
                    </th>
                    {% endfor %} -->
                    <th>커뮤니티</th>
                    <th>한동장터</th>
                    <th>한동라이프</th>
                    <th>한동정보</th>
                </tr>
                <tr>   
                    <!-- {% for index in range %} 
                    <td>
                        <ul>
                            {% for index in range %} 
                            <li>소게시판 제목</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% endfor %} -->
                    <td>
                        <ul>
                        <li><a href="{% url 'boards:list' %}">감자밭</a></li>
                        <li><a href="{% url 'skyLake:skyLakeList' %}">천마지</a></li>
                        <li><a href="{% url 'bamboo:bambooList' %}">대나무숲</a></li>
                        <li>활주로</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li>전체</li>
                        <li>#top 1</li>
                        <li>#top 2</li>
                        <li>#top 3</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li><a href="{% url 'lostAndFound:list' %}">LOST & FOUND</a></li>
                        <li>부동산</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li><a href="http://seal.handong.edu/">SEAL</a></li>
                        <li><a href="http://itaxi.handong.edu/">아이택시</a></li>
                        <li><a href="http://stu.handong.edu/">총학생회</a></li>
                        <li><a href="http://www.dongari.or.kr/handongdae/file/">총동연회</a></li>
                        </ul>
                    </td>
                </tr>
        </table>
        <section class="add">
            <h2>광고</h2>
        </section>
        <section class="login">
            <h2>로그인</h2>
            <button type="submit"><a href="{% url 'join:clause' %}">로그인</a></button>
            <input type="text" placeholder="hisnet ID">
            <input type="text" placeholder="hisnet PW">
        </section>
        <section class="bestFive">
            <h2>Best 게시물</h2>
        </section>
        <section class="login2">
                <div>
                    <div>
                        <img src="{% static 'mainPage/images/handongLogo.png' %}" class="img"/>
                        <h2 style="display: inline">사용자</h2>
                    </div>
                    <h4>알림</h4>
                    <h4><a href="{% url 'mypage:myPost' %}">마이페이지</a></h4>
                    <h4>로그아웃</h4> 
                    <div class="notice">
                        <ul>
                            {% for index in range %}
                            <li>알림입니다<button>X</button></li>
                            {% endfor %}
                        </ul>
                    </div> 
                </div>
            </section>
        <section class="news">
            <h2>한동신문사</h2>
        </section>
        <section class="market">
            <h2>한동장터</h2>
            {% for index in range %}
                <div class="marketItem">
                    <img src="{% static 'mainPage/images/handongLogo.png' %}" class="img"/>
                    <h2>상품 이름</h2>
                    <h3>20,000</h3>
                </div>
            {% endfor %}
        </section>
        <section class="lostNFound">
            <h2>Lost&Found</h2>
            {% for index in range %}
            <div class="lostItem">
                <img src="{% static 'mainPage/images/handongLogo.png' %}" class="img"/>
                <h2>글 제목</h2>
            </div>
        {% endfor %}
        </section>
    </body>
</html>